@import '../app/variables.scss';

.transfer {
  width: 232px;
  height: 252px;
  padding: 20px 0;

  &--margin-right {
    margin-right: 20px;

    @media(max-width: 767px) {
      margin: 0 auto 30px;
    }
  }
}

.check {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
  padding: 10px;
  padding-left: 50px;
  letter-spacing: 0;
  font-weight: 400;

  &__input {
    appearance: none;
  
  
    &:checked + .check__box {
      border-color: $main-blue;
      background: url('../../img/checked.svg') no-repeat 50% 55%;
    }
  }

  &__box {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -30px;
    border-radius: 2px;
    border: 1px solid $grey-blue;
  }

  &:hover {
    background-color: $light-blue;
  }
}
