@import '../app/variables';

.show-more-button {
  min-width: 390px;
  height: 50px;
  background-color: $main-blue;
  color: $white;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;

  @media(min-width: 676px) {
    width: 502px;
  }
}